<ion-header>
  <ion-toolbar color="primary">
    <div class="header">
      <span class="blue"><b>Registr</b></span>
      <span class="gold">APP</span>
    </div>
    <ion-button (click)="cerrarSesion()" slot="end" color="warning">
      <ion-icon name="power-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="centrar">
    <h2>Bienvenido, {{ nombreUsuario }}</h2>
    <p>Selecciona una de las opciones:</p>

    <ion-list *ngIf="tipoUsuario === 'docente'">
      <ion-item button routerLink="/asignaturas-docente">
        <ion-label>Listado de Asignaturas que Dicta</ion-label>
      </ion-item>
      <ion-item button routerLink="/cambiarclave">
        <ion-label>Cambiar Clave</ion-label>
      </ion-item>
      <ion-item button routerLink="/crear-qr">
        <ion-label>Crear QR por Asignatura</ion-label>
      </ion-item>

      

    </ion-list>

    <ion-list *ngIf="tipoUsuario === 'estudiante'">
      <ion-item button routerLink="/asignaturas">
        <ion-label>Mis Asignaturas Inscritas</ion-label>
      </ion-item>
      <ion-item button routerLink="/asistencias">
        <ion-label>Mis Asistencias</ion-label>
      </ion-item>
      <ion-item button routerLink="/leer-qr">
        <ion-label>Lector de QR para Asistencia</ion-label>
      </ion-item>
      <ion-item button routerLink="/cambiarclave">
        <ion-label>Cambiar Clave</ion-label>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
